.App {
  text-align: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: 200px;
  text-align: left;
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
